.detail-quiz-container {
    display: flex;
    gap: 20px;
    padding: 50px;
    .left-content {
        width: 70%;
        border: 1px red solid;

        .title {
            font-weight: 600;
            font-size: 30px;
        }

        .q-content {
            .question {
                font-size: 20px;
                font-weight: 600;
            }
        }
        .footer {
            display: flex;
            gap: 15px;
            justify-content: center;
        }
    }
    .right-content {
        width: 30%;
        border: 1px green solid;
    }
}
