body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-container {
    .header-container {
        .navbar-nav {
            z-index: 2;
            opacity: 0.6;
            .nav-link {
                &.active {
                    color: #00bfff;
                }
            }
        }
    }
}
.navbar-brand {
    z-index: 3;
}

video {
    position: fixed;
    bottom: 0;
    width: 100vw;
}
